#img_logo {
    mix-blend-mode: multiply;
}

.form-check-label {
    color: black;
}

#dateTimeLabel {
    color: black;
}
 
h1 {
    text-align: center;
}

#myModal {
    color: black;
}

#myModalHeader {
    color: black;
}